
<div style="padding: 20px;">
  <h3>Model details</h3>
  <mat-form-field appearance="outline" class="field">
    <input type="text" matInput [matAutocomplete]="auto" [formControl]="searchCtrl">
    <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let variant of variants$ | async" (onSelectionChange)="onSelectVariant(variant)">
        {{variant.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="details">


    <div class="item-images" style="flex: 2;" *ngIf="selectedVariant">
      <div class="main-image">
        <img [src]="selectedVariant.images[0].url" />
      </div>

      <div class="thumbnail-images">
        <img *ngFor="let img of selectedVariant.images.slice(1, selectedVariant.images.length)" [src]="img.url" />
      </div>
    </div>

    <div class="specs">
      <div class="param">
        <h4>Ram GB </h4>
        <div *ngFor="let spec of selectedVariant?.specs"> {{spec.ramGb}} </div>
      </div>
      <div class="param">

      </div>
      <div class="param">

      </div>
      <div class="param">

      </div>

    </div>
  </div>
  <div style="margin-top:  20px;">
    <input type="text" placeholder="Serial number">
    <button> Add item</button>
  </div>
</div>