<div class="fields">
    <h4>Create model</h4>
    <div class="field">
      <label>Manufacturer name</label>
      <select class="form-control" [(ngModel)]="model" (change)="onManufacturerChange($event)">
        <option value="" disabled selected>Select manufacturer</option>
        <option *ngFor="let m of manufacturers" [ngValue]="m">{{ m.name }}</option>
      </select>
    </div>
  
    <div class="field">
      <label>Model name</label>
      <input class="form-control" [(ngModel)]="model.name" type="text">
    </div>
  
    <div class="action">
      <button class="btn btn-secondary" (click)="cancelCreating()">Cancel</button>
      <button class="btn btn-primary" (click)="saveModel()">Save model</button>
    </div>
  </div>
  