* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  font-family: 'Roboto' !important;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.model-details {
  display: flex;
  flex-direction: column;
 
  gap: 20px;
}

.param {
  display: inline-block;
  /* Or block if stacked */
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-family: inherit;
  font-size: 14px;
  width: 200px;

}
.input-group-text {
  cursor: default;
  min-width: 40px;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  width: fit-content;

}

.field label {
  font-weight: 500 !important;
  font-size: 16 !important;

}
.form-control{

  font-family: 'Roboto' !important;
  font-size: 15px;
  width: 200px !important;      
  flex: 0 1 auto !important;  

}
.input-group {
 display: flex;
 flex-direction: row;
}
.btn-primary{
  background-color: #9913FF;
  border-color: #9913FF;
 }

.item-images {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 400px;
}

.action {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


.item-images .main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.item-images .thumbnail-images {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 100%;
  max-width: 45%;
}

.item-images .thumbnail-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ddd;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.685);
  /* затемнение фона */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f2eadd;
  border-radius: 5px;
  border: 1px solid #232323;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
  font-size: 2rem;
  color: red;
}



.search-container {
  position: relative;
  width: fit-content;
}



.search-dropdown {
  position: absolute;
  width: 100%;
  margin: 4px 0 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.create-option {
  font-weight: bold;
  color: #9913FF;
}


.custom-select {
  width: 200px;
  user-select: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.selected {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.color-square {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1px solid #aaa;
  vertical-align: middle;
}
.color-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.custom-select.disabled {
  pointer-events: none;
  opacity: 0.5;
}