* {
  margin: 0px;
  padding: 0px;
}

body,
html {
  font-family: 'Roboto' !important;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.model-details {
  display: flex;
  flex-direction: column;

  gap: 20px;
}


.input-group-text {
  cursor: default;
  min-width: 40px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  width: fit-content;

}

.field label {
  font-weight: 500 !important;
  font-size: 16px !important;

}

.form-control {

  font-family: 'Roboto' !important;
  font-size: 16px;
  min-width: 200px !important;
  flex: 0 1 auto !important;
  border-color:  var(--mdc-outlined-text-field-outline-color);

}

.input-group {
  display: flex;
  flex-direction: row;
}

.btn-primary {
  background-color: #9913FF;
  border-color: #9913FF;
}

.item-images {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 400px;
}

.action {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}


.item-images .main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.item-images .thumbnail-images {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 100%;
  max-width: 45%;
}

.item-images .thumbnail-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ddd;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.685);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f2eadd;
  border-radius: 5px;
  border: 1px solid #232323;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 20px;
  font-size: 2rem;
  color: red;
}



.search-container {
  position: relative;
  width: fit-content;
  box-sizing: content-box
}



.search-dropdown {
  position: absolute;
  width: 100%;
  margin: 4px 0 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
}

.mat-mdc-form-field {
  height: fit-content !important;
}

.dropdown-item:hover {
  background-color: #9913ff44;
}

.mat-mdc-form-field-flex {

  height: fit-content;
}

.mat-mdc-form-field-infix {

  min-height: 20px !important;
  padding: 6px 12px !important;
  min-width: 200px !important;
}

.mat-mdc-text-field-wrapper {
  background-color: inherit !important;

  height: fit-content
}

.mdc-text-field {
  padding: 0px !important;
}


.mat-mdc-form-field-icon-suffix>.mat-icon {
  height: fit-content;
  padding: 0px !important;
}


.mat-mdc-option {
  padding: 8px 12px !important;
  cursor: pointer;
}

.mat-mdc-option:hover {
  background-color: #9913ff44 !important;
}

.mat-mdc-option::selection {
  background-color: #9913ff44 !important;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: calc(50%) !important;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label.mdc-floating-label--float-above {
  top: calc(75%) !important;


}

.mat-mdc-form-field-subscript-wrapper {

  height: auto !important;
}

.create-option {

  color: #9913FF;
}

:root {

  --mat-option-selected-state-label-text-color: #9913ff !important;
  --mdc-outlined-text-field-caret-color:  #9913ff !important;
  --mdc-outlined-text-field-focus-outline-color: #9913ff !important;
  --mdc-outlined-text-field-focus-label-text-color: #9913ff !important;
  --mdc-outlined-text-field-outline-color: rgba(0, 0, 0, 0.38);
}
.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: var(--mat-option-selected-state-label-text-color);
}

.create-option:hover {

  color: #9913FF;
}

.custom-select {
  width: 200px;
  user-select: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.selected {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.color-square {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1px solid #aaa;
  vertical-align: middle;
}

.color-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.custom-select.disabled {
  pointer-events: none;
  opacity: 0.5;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}