<form [formGroup]="form" class="fields" (ngSubmit)="onSaveModel()">
  <h4>Create model</h4>
  <div class="field">
   
    <mat-form-field appearance="outline" class="field">
      <mat-label>Manufacturer name</mat-label>
      <mat-select formControlName="manufacturerId">
        <mat-option [value]="0" disabled class="dropdown-item">
          Select manufacturer
        </mat-option>
        <mat-option *ngFor="let m of manufacturers" [value]="m.id" class="dropdown-item">
          {{ m.name }}
        </mat-option>
      </mat-select>
    
      <mat-error *ngIf="form.controls['manufacturerId'].touched && form.controls['manufacturerId'].invalid">
        Manufacturer is required
      </mat-error>
    </mat-form-field>
    
  </div>

 
    <mat-form-field appearance="outline" class="field" >
      <mat-label>Model name</mat-label>
      <input matInput formControlName="name" type="text">
      <mat-error *ngIf="form.controls['name'].touched && form.controls['name'].invalid">
        Model name is required 
      </mat-error>
    </mat-form-field>
    

  <div class="action">
    <button class="btn btn-secondary" (click)="onCancelCreating()">Cancel</button>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save model</button>
  </div>
</form>