<div class="search-container">
    <h4>Model details</h4>
    <input type="text" placeholder="Search model" class="search-input form-control mt-3" [(ngModel)]="searchString"
           (input)="onSearchChange($event)" />
  
    <ul class="search-dropdown" *ngIf="searchString && !isModelSelected">
      <li class="dropdown-item" *ngFor="let phoneModel of phoneModels" (click)="selectModel(phoneModel)">
        {{ phoneModel.manufacturerName }} {{ phoneModel.name }}
      </li>
      <li class="dropdown-item create-option" (click)="createModel()">
        Create new model
      </li>
    </ul>
  </div>
    <div class="fields" style="flex: 1;">
     
      <div class="field">
        <label>Manufacturer name</label>
        <span class="form-control">{{ model.manufacturerName }}</span>
      </div>

      <div class="field" >
        <label>Model name</label>
        <span class="form-control">{{ model.name }}</span>
      </div>
    </div>
  