<div class="details">
    <div class="model-details">
        <span>Model details</span>
        <div class="fields">
            <div class="field">
                <label>Model name</label>
                <span class="param"></span>
            </div>
            <div class="field">
                <label>Model color</label>
                <span class="param"></span>
            </div>
        </div>
        <div class="item-images">
            <div class="main-image">
                <img src="https://picsum.photos/id/237/200/300"/>
            </div>
            <div class="thumbnail-images">
              <img src="https://picsum.photos/id/237/200/300"/>
              <img src="https://picsum.photos/id/237/200/300"/>
              <img src="https://picsum.photos/id/237/200/300"/>
              <img src="https://picsum.photos/id/237/200/300"/>
            </div>

    
          </div>
    </div>
    <div class="fields">
        <span> Specification details </span>
        <select>
            <option value="" disabled selected> Select specification</option>
        </select>
        <button> Create new specification </button>
        <div class="field">
            <label>Storage</label>
            <span class="param"> GB</span>
        </div>

        <div class="field">
            <label>RAM</label>
            <span class="param"> GB</span>
        </div>

        <div class="field">
            <label>Display</label>
            <span class="param">"</span>
        </div>

        <div class="field">
            <label>Camera</label>
            <span class="param"> MP</span>
        </div>

    </div>
</div>
<div style="margin-top:  20px;">
    <input type="text" placeholder="Serial number">
    <button> Add item</button>
</div>



