
<div class="sidebar">
    <button class="side-button"> Find item</button>
    <button class="side-button" routerLink="/add-item">
        Add item
    </button>
    <button class="side-button" routerLink="/add-item-variant">
        Add variant
    </button>
    <button class="side-button">
        Find variant
    </button>
</div>
<div class="content-wrapper">

        <div class="header">
            <div style="width: 100px;">
                <span> I will add something here</span>
                
            </div>
            <img src="https://picsum.photos/100" alt="random">

      </div>
      

    <div class="content">
        <router-outlet></router-outlet>
      </div>
</div>

