
<div class="sidebar">
    <button class="side-button" routerLink="/add-item">
        Add Item
    </button>

    <button class="side-button">
        Add Variants
    </button>
    <button class="side-button">
        Find Variants
    </button>
</div>
<div class="content-wrapper">
    <div class="header-wrapper">
        <div class="header-content">
            <div style="width: 100px;">
                <span> I will add something here</span>
            </div>
        </div>
      </div>
      

    <div class="content">
        <router-outlet></router-outlet>
      </div>
</div>

