<div class="model-details" >
  
    <div class="search-container" *ngIf="!isModelCreating">
        <h4> Model details</h4>
        <input type="text" placeholder="Search model" class="search-input form-control mt-3" [(ngModel)]="searchString"
            (input)="onSearchChange($event)" />

        <ul class="search-dropdown" *ngIf="searchString && !isModelSelected">
            <li class="dropdown-item" *ngFor="let phoneModel of phoneModels" (click)="selectModel(phoneModel)">
                {{ phoneModel.manufacturerName}} {{phoneModel.name}}
            </li>
            <li class="dropdown-item create-option" (click)="isModelCreating = true; searchString=''">
                Create new model
            </li>
        </ul>
    </div>


    <div class="fields">
        <h4 *ngIf="isModelCreating">Create model</h4>
        <div class="field">
            <label>Manufacturer name</label>
            <input class="form-control" [(ngModel)]="model.manufacturerName" type="text" readonly="true" *ngIf="!isModelCreating">
            <select class="form-control" *ngIf="isModelCreating" [(ngModel)]="model.manufacturerName">
                <option value="" disabled selected> Select manufacturer</option>
                <option *ngFor="let m of manufacturers" [value]="m.name"> {{m.name}} </option>
            </select>
        </div>
        <div class="field">
            <label>Model name</label>

            <input class="form-control" [(ngModel)]="model.name" type="text" [readonly]="!isModelCreating">
        </div>

        <div class="action" *ngIf="isModelCreating">
            <button class="btn btn-secondary" (click)="cancelCreating()">Cancel</button>
            <button class="btn btn-primary" (click)="saveModel()"> Save model</button>
        </div>

    </div>

</div>