<div class="fields">
<h4>Model details</h4>
<mat-form-field appearance="outline" class="field"  >
  <mat-label>Search model</mat-label>
  <input type="text" matInput [formControl]="searchCtrl" [matAutocomplete]="auto" >
  <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let phoneModel of models$ | async" (onSelectionChange)="onSelectModel(phoneModel)">
      {{ phoneModel.manufacturerName }} {{ phoneModel.name }}
    </mat-option>

    <mat-option class="create-option" (onSelectionChange)="onCreateModel()">
      ➕ Create new model
    </mat-option>
  </mat-autocomplete>
</mat-form-field>



  <div class="field">
    <label>Manufacturer name</label>
    <span class="form-control">{{ model?.manufacturerName }} &#8203;</span>
  </div>

  <div class="field">
    <label>Model name</label>
    <span class="form-control">{{ model?.name }} &#8203;</span>
  </div>
</div>