<div class="search-container">
    <h4>Model details</h4>
    <input type="text" placeholder="Search model" class="form-control mt-3"   (input)="onInputChange($event)"
    [value]="displayValue()"
 />

    <ul class="search-dropdown" *ngIf="searchString && !isModelSelected">
      <li class="dropdown-item" *ngFor="let phoneModel of models$ | async" (click)="onSelectModel(phoneModel)">
        {{ phoneModel.manufacturerName }} {{ phoneModel.name }}
      </li>
      <li class="dropdown-item create-option" (click)="onCreateModel()">
        Create new model
      </li>
    </ul>
  </div>
    <div class="fields" >
     
      <div class="field">
        <label>Manufacturer name</label>
        <span class="form-control">{{ model.manufacturerName }} &#8203;</span>
      </div>
 
      <div class="field" >
        <label>Model name</label>
        <span class="form-control">{{ model.name }} &#8203;</span>
      </div>
    </div>
  