<div class="spec-container">
  <div class="search-container" *ngIf="!isSpecCreating">
    <h4> Specification details</h4>
    <input type="text" placeholder="Search specification" class="search-input form-control" [(ngModel)]="searchString"
      (input)="onSearchChange($event)" />

    <ul class="search-dropdown" *ngIf="searchString && !isSpecSelected">
      <li class="dropdown-item" *ngFor="let phoneSpec of phoneSpecs" (click)="selectSpec(phoneSpec)">
        {{ phoneSpec.storageGb}}GB/ {{phoneSpec.ramGb}}GB
      </li>
      <li class="dropdown-item create-option" (click)="createSpec()">
        Create new specification
      </li>
    </ul>
  </div>
  <div class="fields">
    <h4 *ngIf="isSpecCreating"> Create specification</h4>
    <div class="field input-group ">

      <label>Storage</label>
      <div class="input-group ">
        <input type="number" class="form-control" [(ngModel)]="spec.storageGb" [readOnly]="!isSpecCreating" />
        <span class="input-group-text">GB</span>
      </div>

    </div>
    <div class="field input-group">
      <label>RAM</label>
      <div class="input-group ">
        <input type="number" class="form-control" [(ngModel)]="spec.ramGb" [readOnly]="!isSpecCreating" />
        <span class="input-group-text">GB</span>
      </div>

    </div>


    <div class="field input-group">
      <label>Display</label>
      <div class="input-group ">
        <input type="number" class="form-control " [(ngModel)]="spec.displayIn" [readOnly]="!isSpecCreating" />
        <span class="input-group-text">"</span>
      </div>

    </div>



    <div class="field input-group">
      <label>Camera</label>
      <div class="input-group ">
        <input type="number" class="form-control" [(ngModel)]="spec.cameraMp" [readOnly]="!isSpecCreating" />
        <span class="input-group-text">MP</span>
      </div>

    </div>


    <div class="action" *ngIf="isSpecCreating">
      <button class="btn btn-secondary" (click)="cancelSpecCreating()">Cancel</button>
      <button class="btn btn-primary" (click)="saveSpec()">Save specification</button>

    </div>
  </div>
</div>