<div >
  <div class="details-container">
    <div class="fields" style="flex: 1;">
      <h4>Model</h4>
      <div class="field">
        <label>Manufacturer name</label>
        <span class="form-control">{{ model.manufacturerName }}</span>
      </div>

      <div class="field" >
        <label>Model name</label>
        <span class="form-control">{{ model.name }}</span>
      </div>
    </div>

    <div class="fields" style="flex: 1;">
      <h4>Specification</h4>
      <div class="field">
        <label>Storage</label>
        <span class="form-control">{{ spec?.storageGb }} GB</span>
      </div>

      <div class="field">
        <label>RAM</label>
        <span class="form-control">{{ spec?.ramGb }} GB</span>
      </div>

      <div class="field">
        <label>Display</label>
        <span class="form-control">{{ spec?.displayIn }}"</span>
      </div>

      <div class="field">
        <label>Camera</label>
        <span class="form-control">{{ spec?.cameraMp }} MP</span>
      </div>

    </div>
    <div class="item-images" style="flex: 2;">
      <div class="main-image" *ngIf="imagesUrl.length > 0">
        <img [src]="imagesUrl[0]" />
      </div>
  
      <div class="thumbnail-images">
        <img *ngFor="let img of imagesUrl.slice(1, imagesUrl.length)" [src]="img" />
      </div>
    </div>
  </div>
  
  <form [formGroup]="form" class="fields mt-3">
    <h4>Details</h4>
    <div class="field input-group">
      <label >Cost</label>
      <div class="input-group">
        <input class="form-control" type="value" placeholder="Model Cost" formControlName="variantCost">
        <span class="input-group-text" >$</span>
      </div>
      <div class="text-danger" *ngIf="form.get('variantCost')?.touched && form.get('variantCost')?.invalid">
        Cost must be at least 1 
      </div>
    </div>
  </form>

</div>